@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --main-blue: rgb(68, 128, 168);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: rgb(255, 245, 233);
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
    background-color: rgb(255, 245, 233);
}

.menu h1 {
    margin: 0;
    color: var(--main-blue);
}

.menu .start {
    font-family: 'Bungee Inline', cursive;
    padding: 1.2rem;
    border: none;
    border: 3px solid var(--main-blue);
    background: none;
    color: var(--main-blue);
    font-weight: 500;
}

.menu .start:hover {
    background-color: var(--main-blue);
    color: white;
}

.input-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 32px;
    font-family: 'Bungee Inline', cursive;
}

.player-container {
    display: flex;
    flex-direction: column;
}

.player-container label {
    font-size: 1.8rem;
}

.player-container input {
    width: 100%;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    background: none;
    border: 2px solid var(--main-blue);
}

.invisible {
    visibility: hidden;
}

.gameboard {
    /* border: 1px solid black; */
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
}

.gameboard div {
    outline: 3px solid var(--main-blue);
}

.announcement {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Bungee Inline', cursive;
}

.announcement h1 {
    margin: 0;
    color: var(--main-blue);
}

.game-controls {
    display: flex;
    gap: 16px;
}

.game-controls button{
    font-family: 'Bungee Inline', cursive;
    padding: 1.2rem;
    border: none;
    border: 3px solid var(--main-blue);
    background: none;
    color: var(--main-blue);
    font-weight: 500;
}

.game-controls button:hover {
    background-color: var(--main-blue);
    color: white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--main-blue);
}